@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --bs-font-sans-serif: 'Roboto';
    --bs-body-font-size: 0.85rem;
}

.links {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

.container {
    max-width: 1000px;
}